{% extends 'base.html.twig' %}

{% block body %}
<div  class="jumbotron bg-purple-light goodgirl text-yellow mt-2 mb-2 ml-3 mr-3 p-3 text-center" >
    <h1 class="mb-3"><span class="bg-purple p-2 rounded">Mentions légales</span></h1>
    <h4 class="m-3"><span class="bg-purple p-2 rounded">Hébergement</span></h4>
    <p class="text-black m-0">Coordonnées de l'hebergeur:</p>
    <p class="text-black m-0">localhost, chez moi, 06.30.05.52.07</p>
    <h4 class="m-3"><span class="bg-purple p-2 rounded">Cookies</span></h4>
    <p class="text-black m-0">Ce site n'utilise pas de cookies mais uniquement des brownies</p>
    <h4 class="m-3"><span class="bg-purple p-2 rounded">Données personnelles</span></h4>
    <p class="text-black m-0">Ce site ne conserve aucune donnée personnelle</p>
</div>
{% endblock %}
