{% extends 'base.html.twig' %}

{% block body %}
<div  class="jumbotron bg-purple-light goodgirl text-yellow mt-1 mb-1 ml-3 mr-3 p-0 text-center">
    <div class="row m-0 p-0 text-center">
        <div class="col-3 m-0 p-0">
            <img src="{{ asset('img/logo.png') }}" class="img-fluid p-3">
        </div>
        <div class="col-9 m-0 p-0">
            <img src="{{ asset('img/home.png') }}" class="img-fluid" style="max-height:90vh;">
        </div>
    </div>
</div>
{% endblock %}
